/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: black;
}

/* Nav Logo */

.logo {
  color: white;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Navbar items and DropDown */

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Lato";
}

.navbar ul {
  margin: 0px 20px 0px 20px;
}

.item-on-nav:hover {
  padding: 6px;
  background-color: darkgrey;
  opacity: 0.9;
  font-weight: 500;
  border-radius: 8px;
}

/* DropDown */
.dropbtn {
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: max-content;
  margin-top: 44px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 100;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  color: white;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .item-on-dropdown {
  display: none;
}

/* Search icon and Input bar */
.search {
  display: flex;
  gap: 0.4rem;
  color: white;
  border-bottom: 1px solid white;
}
.search input {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 3px;
  margin-left: 10px;
}

/* Responsiveness */

@media only screen and (max-width: 500px) {
  #input-bar {
    transform: translateX(-50%);
    display: none;
  }
  .search {
    border-bottom: none;
    cursor: pointer;
  }
  .search:hover #input-bar {
    display: contents;
  }
}

@media screen and (max-width: 1200px) {
  .navbar ul .item-on-nav:nth-last-child(2) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(7) {
    display: block;
  }
}

@media screen and (max-width: 1100px) {
  .navbar ul .item-on-nav:nth-last-child(3) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(6) {
    display: block;
  }
}

@media screen and (max-width: 1000px) {
  .navbar ul .item-on-nav:nth-last-child(4) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(5) {
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .navbar ul .item-on-nav:nth-last-child(5) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(4) {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .navbar ul .item-on-nav:nth-last-child(6) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(3) {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  .navbar ul .item-on-nav:nth-last-child(7) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(2) {
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar ul .item-on-nav:nth-last-child(8) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(1) {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .navbar ul .item-on-nav:nth-last-child(8) {
    display: none;
  }
  .dropdown:hover .item-on-dropdown:nth-child(1) {
    display: block;
  }
}

/* Slider */

/* Heading Container */

.Heading-container {
  text-align: center;
  top: 8%;
  position: absolute;
  margin: 10px;
  z-index: 10;
}

/* Couresel Container */

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  gap: 10px;
  transition-duration: 1s ease;
}

.slider-div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Common image CSS */
.image {
  border-radius: 10px;
  width: 52vw;
  height: 40vh;
  object-fit: cover;
  align-items: center;
  filter: brightness(75%);
}

/* For the 3d Coursel Imgage properties */
.image-0 {
  width: 13vw;
  height: 12vh;
  transform: translateX(150%);
  z-index: -1;
}
.image-1 {
  width: 26vw;
  height: 24vh;
  transform: translateX(50%);
  z-index: 0;
}
/* Highligted image */
.image-2 {
  width: 52vw;
  height: 48vh;
  z-index: 1;
  filter: brightness(100%);
  transition-duration: 1s;
}
.image-2:hover {
  transform: scale(1.08);
}
.image-3 {
  width: 26vw;
  height: 24vh;
  transform: translateX(-50%);
  z-index: 0;
}
.image-4 {
  width: 13vw;
  height: 12vh;
  transform: translateX(-150%);
  z-index: -1;
}

/* Dotted Navigation Bar */

.arrows-container {
  position: absolute;
  bottom: 18%;
  display: flex;
  gap: -2px;
  z-index: 2;
}

.left-arrow {
  margin-top: 3px;
  font-size: 20px;
  color: #778899;
  z-index: 10;
  cursor: pointer;
}

.right-arrow {
  margin-top: 3px;
  font-size: 20px;
  color: #778899;
  z-index: 10;
  cursor: pointer;
}

.slider-dash-btn {
  color: #00ffff;
}

.slider-dot-btn {
  border: none;
  cursor: pointer;
  font-size: 26px;
  color: #b0c4de;
  background-color: transparent;
  padding: 0;
  margin: 0;
  outline: none;
}

/* Extra uniform CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #11111111;
}
